body {
	font-family: Arial, Verdana;
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

title {
	text-align: center;
	color: #FFFFFF;
}


h1 {
	text-align: center;
	font-size: 42px;
	padding: 15px;
	color: #FFFFFF;
}

h2 {
	color: #0D0D0D;
	font-size: 30px;

}

p {
	font-size: 24px;
	padding-top: 10px;
	padding-left: 10px;


}

img {
	border: dashed #FFFFFF 10px;
	width: 250px;
	display: block;
	margin: auto;


}

div {
	min-height: 125px;
	padding: 20px;
	border: #FFFFFF solid 3px;
}

.introduction {
	margin-top: 15px;
	border-radius: 15px;
	line-height: 2;
}

.red {
	background-color: #FF0000;
	text-align: right;
	margin-left: 50px;
	border-bottom-width: 2px;
	border-left-width: 5px;
	border-top: 0;
	border-right: 0;
}

.blue {
	background-color: #0000FF;
	text-align: left;
	margin-right: 50px;
	border-left: 0;
	border-bottom: 0;
	border-top-width: 2px;
	border-right-width: 5px;
}

.blue p,
.blue h2 {
	color: #C4C4C4;
}

.yellow {
	background-color: #FFFF00;
	text-align: right;
	margin-left: 50px;
	border-right: 0;
	border-top: 0;
	border-bottom-width: 2px;
	border-left-width: 5px;

}

.yellow p {
	color: #707070;
}

.green {

	background-color: #008500;
	text-align: left;
	margin-right: 50px;
	border-left: 0;
	border-bottom: 0;
	border-top-width: 2px;
	border-right-width: 5px;


}

footer {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
	border: #FFFFFF solid 5px;
}

footer p {
	font-size: 20px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	text-align: right;
}